/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  position: relative;
  padding-inline: var(--page-padding, 10px);
  color: var(--main-text-color, #F1B2CE);
  font-family: var(--main-font, 'IBM Plex Mono');
  font-size: 18px;
  line-height: 1.3;
  background-color:var(--bg-color, #000028);
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  grid-template-areas:
    "menu"
    "title"
    "description";
  justify-content: center;
  align-items: center;
  margin-block-end: 40px;
  padding-block: var(--page-padding);
  min-block-size: 100vh;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  top: 10px;
  right: 0;
  border-inline-end: 1px solid var(--accent-text-color);
  border-block-start: 1px solid var(--accent-text-color);
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::after {
  content: '';
  position: absolute;
  bottom: 10px;
  left: 0;
  border-inline-start: 1px solid var(--accent-text-color);
  border-block-end: 1px solid var(--accent-text-color);
  inline-size: 25px;
  block-size: 25px;
}

.decoration {
  position: absolute;
  display: var(--header-decoration-display);
  color: var(--accent-color);
  text-transform: uppercase;
  inset-inline-end: 30px;
  inset-block-start: 11px;
}

.decoration::after {
  content:'';
  position: absolute;
  top: 7px;
  left: 45px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
  background-color: var(--accent-color);
  inline-size: 9px;
  block-size: 9px;
}

.header__theme-menu {
  grid-area: menu;
  justify-self: flex-end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  margin-inline-end: 10px;
  list-style: none;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  color: var(--accent-text-color);
  font-family: var(--main-font);
  font-size: 18px;
  text-transform: lowercase;
  background: none;
  appearance: none;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--hover-button-color);
  cursor: pointer;
}

.header__theme-menu-button:focus {
  outline: 1px solid var(--accent-text-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent--text-color);
  pointer-events: none;
}

.page__title {
  grid-area: title;
  margin-block: 0;
  color: var(--title-color);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 95.7px;
  text-shadow: 4px 4px 0 var(--text-shadow);
}

.header__description {
  grid-area: description;
  font-size: 18px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.section__content {
  display: grid;
  gap: 20px;
}

.section__content-title {
  color: var(--accent-text-color);
  font-size: 18px;
}

.section__content-list {
  display: grid;
  gap: 20px;
  list-style-type: none;
}

.section__content-list-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section__content-list-item-title {
  font-size: inherit;
}

.title-decor {
  color: var(--bg-text-color);
  font-weight: 700;
  font-size: inherit;
  background-color: var(--accent-color);
}

.section__content-list-item-title {
  color: var(--bg-text-color);
  font-weight: 400;
  background-color: var(--accent-color);
}

.section__content-list-link {
  color: var(--main-text-color);
  text-decoration: none;
  text-shadow: 2px 1px 0 var(--accent-color);
}

.section__content-list-link:hover {
  border-block-end: 1px solid var(--main-text-color);
  cursor: pointer;
}

.section__content-list-link:focus {
  outline: 1px solid var(--accent-text-color);
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--accent--text-color);
}

.image__section {
  display: grid;
  gap: 10px;
}

.image__content-list {
  display: grid;
  gap: 10px;
}

.gallery__image {
  display: block;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-block-size: 100vh;
  margin-block-start: 40px;
  min-block-size: 668px;
}

@media (width >= 768px) {

  .page {
    padding-inline: 20px;
  }

  .header {
    margin-block-end: 60px;
  }

  .page__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__title {
    margin-inline-start: -20px;
  }

  .decorated-zone::before {
    top: 20px;
  }

  .decoration {
    inset-inline-end: 28px;
    inset-block-start: 20px;
  }

  .decoration::after {
    left: 43px;
  }

  .decorated-zone::after {
    bottom: 20px;
  }

  .header__description {
    justify-self: right;
    align-self: center;
    margin-block-end: 10px;
    max-inline-size: 50%;
  }

  .section__content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-block-end: 30px;
  }

  .section__content-columns {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .section__content-columns > .section__content-title {
    max-inline-size: 30%;
  }

  .section__content-advice-list {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .image__section .title-decor {
    margin-block-end: 10px;
  }

  .gallery__image {
    object-fit: cover;
  }

  .image__content-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .img-sunset {
    grid-column: span 2;
  }

  .img-ice-cream {
    grid-column: 3;
    grid-row: 1 / 3;
  }

  .img-audiotape {
    grid-row: 2 / 4;
  }

  .img-books {
    grid-area: 2 / 2;
  }

  .img-street {
    grid-column: 2 / 4;
  }

  .footer {
    margin-block-start: 60px;
    block-size: 100vh;
  }
}

@media (width >= 1024px) {

  .header {
    justify-content: unset;
    max-height: 100vh;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: start;
    padding-block-start: 9px;
  }

  .header__theme-menu-list {
    flex-direction: row;
    gap: 25px;
    margin: unset;
  }

  .header__title {
    display: flex;
    justify-content: flex-start;
  }

  .header__description {
    margin: unset;
  }

  .section__content {
    gap: 10px;
  }

  .section__content-columns .section__content-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .section__content-columns-title {
    margin-block-end: 10px;
  }



  
}



