/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --main-font: 'IBM Plex Mono', sans-serif;
  --main-text-color: #F1B2CE;
  --accent-color: #FF0070;
  --accent-text-color: #FF0070;
  --title-color: #DB00FF;
  --bg-color: #000028;
  --bg-text-color: #000028;
  --bg-image: url(../images/cover-image-dark.png);
  --text-shadow: #FF0070;
  --page-padding: 10px;
  --hover-button-color: rgba(255, 0, 112, 0.4);
  --header-decoration-display: block;
}